body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}
    
header img {
    width: 150px;
    height: auto;
}

/* .sec {
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.lim {
        background-color: aqua;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.sec div {
    text-align: center;
}

.sec div img{
    margin: 1px;
    text-align: center;
}

.sec p {
    font-weight: bold;
    font-size: medium;
    margin: 2px 0 27px 0;
} */

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 2px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}