.sec {
            /* background-color: rgb(26, 255, 0); */
            width: 100%;
            text-align: center;
        }
        
        .lim {
            /* background-color: blue; */
            width: 70%;
            display: inline-block;
            text-align: center;
        }

        .lim div {
            /* background-color: rgb(255, 217, 0); */
            display: inline-block;
            width: 32%;
            margin: -1px;
        }

        img {
            max-width: 100%;
        }
